.App {
  text-align: center;
  background: #f2f2f2;
}

.App-logo {
  height: 50px;
}

.App-header {
  background-color: #b85ae9;
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.App-header a {
  text-decoration: none;
  color: #fff;
}

.hero { 
  height: 100vh;
  background-image: url('./assets/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Nav-Link {
  height: 50px;
  width: 200px;
  padding: 5px;
  background: #b85ae9;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .5s ease;
}

.Nav-Link:hover {
  transform: scale(1.3);
}

/* Admin dashboard */

.admin-container {
  background-image: url('./assets/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  max-height: 1200px;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #f2f2f2;
  margin: 5% 25%;
  height: 100vh;
  border-radius: 20px;
  animation: fade-panel 1s;
}

.title {
  margin-top: 5%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
}

.column {
  width: 50%;
}

.dashlink {
  padding: 2% 20%;
}

@keyframes fade-panel {
  0% {opacity: 0; transform: scale(0);}
  100% {opacity: 1; transform: scale(1);}
}

/* Clients component */

.clients-list {
  width: 75%;
  margin: 2% auto;
}

.clients-list li {
  margin-bottom: 3%;
}

.clients-list .client-link {
  margin-bottom: 3%;
}

.add-link {
  margin: 5% auto;
}

/* Add Client form */

.wrapper {
  background-image: url('./assets/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  max-height: 1400px;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #f2f2f2;
  margin: 5% 25%;
  height: 100vh;
  border-radius: 20px;
  animation: fade-panel 1s;
}

.top-section {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.top-section input {
  width: 30%;
}

@media only screen and (max-width: 1160px) {
  .top-section {
    flex-direction: column;
    align-items: center;
  }

  input {
    width: 30%;
    margin-bottom: 2%;
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1% 10%;
}

.content-section label {
  text-align: left;
}

.content-section textarea {
  margin-bottom: 2%;
}

.date-label {
  margin-left: 1%;
}